<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Insl Project" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'custom', media: 'all' %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>

  <body class="d-flex flex-column min-vh-100">
  <nav class="navbar navbar-expand-lg navbar-light bg-light custom-navbar fixed-top">
  <a class="navbar-brand " href="/">
    <%= image_tag 'file.jpg', alt: 'InSL e.V.' %>
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav w-100 d-flex justify-content-between"> <!-- Use d-flex and justify-content-between -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Über die InSL
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/team">Unser Team</a>
          <a class="dropdown-item" href="/vision">Unsere Vision</a>
          <a class="dropdown-item" href="/offene_stellen">Offene Stellen</a>
          <a class="dropdown-item" href="/wirkungsbericht">Wirkungsbericht</a>
        </div>
      </li>

      <!-- Other menu items -->
      <li class="nav-item">
        <a class="nav-link" href="/offer">Unser Angebot</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/bildungssprache">Was ist Bildungssprache</a> <!-- Link to Bildungssprache page -->
      </li>

      <li class="nav-item">
      <a class="nav-link" href="/about">Netzwerk</a> <!-- Link to Netzwerk page -->
    </li>

      <!-- Sprachtraining Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSprachtraining" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sprachtraining
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownSprachtraining">
          <a class="dropdown-item" href="/sprachtraining_4_you">Deutsch 4 You</a>
          <a class="dropdown-item" href="/sprachforscher">Sprachforscher</a>
          <a class="dropdown-item" href="/sprachdetektive">Sprachdetektive</a>
          <a class="dropdown-item" href="/sprachpiraten">Sprachpiraten</a>
          <a class="dropdown-item" href="/online-Sprachkurse">Online-Sprachkurse</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/spenden">Spenden</a> <!-- Link to Spenden page -->
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/contact">Kontakt</a>
      </li>
    </ul>
  </div>
</nav>



  <!-- Main content -->
  <div class="container d-flex flex-column mt-5">
    <%= yield %>
  </div>

  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <footer class="bg-dark text-white text-center sticky-footer py-3 mt-auto">
   © InSL e.V. |  <a class="" href="/contact">Kontakt</a> |  <a class="" href="/impressum">Impressum</a> | <a class="" href="/datenschutz">Datenschutz</a>

</footer>
</body>
  
</html>
